body{
    height: 100%;
    width: 100%;
    background: green;
}



h3{
    color: #fff;
    padding: 20px;
    background:  #000;
    font-size: 20px;
    font-weight: 800;
    border-radius: 100px;
}
h3:hover{
    background: blue;
    color: #000;
}



